@font-face {
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('/assets/fonts/italiana-v16-latin-regular.woff2') format('woff2'),
       url('/assets/fonts/italiana-v16-latin-regular.woff') format('woff'),
       url('/assets/fonts/italiana-v16-latin-regular.svg#Italiana') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/bitter-v33-latin-regular.woff2') format('woff2');
}

:root {
  --s-width: 65ch;
  --n-width: 90ch;
  --w-width: 120ch;
  --bor-rad: 0;
  --bor-rad-lg: 0;
  --bor-width: 1px;
  --inner-shadow: 0px 1px 1px var(--color-g-3);
  --shadow-sm: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11);
  --shadow-md: 0 1px 1px rgba(0, 0, 0, 0.10), 0 2px 2px rgba(0, 0, 0, 0.10), 0 4px 4px rgba(0, 0, 0, 0.10), 0 6px 8px rgba(0, 0, 0, 0.10);
  --shadow-lg: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09), 0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
  0 32px 16px rgba(0, 0, 0, 0.09);
  --line-height: 1.5;
  --line-height-header: 1.2;
  --line-height-list: 1.7;
  --h-font: 'Italiana', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --b-font: 'Inter', sans-serif;
  --m-font: Courier New,Consolas,Courier,monospace;
  --l-spacing: 0.02em;
  --w-spacing: 0.08em;
  --h-pos: left;
  --f-wght: 300;
  --h-font-wght: 600;
  --p-btn-input-v: .8rem;
  --p-btn-input-h: 1.6rem;
  --trans: ease-in-out;
  --dur: 0.35s;
}
