a {
  color: var(--pri-color);
  cursor: pointer;
  text-decoration: none;
  transition: all var(--dur) var(--trans);

  &:focus,
  &:hover {
    color: var(--pri-color-drk);
    text-decoration: none;
  }
}
