.scrollup {
  background: var(--pri-color);
  border-radius: var(--bor-rad);
  bottom: 0;
  color: var(--f-color-inv);
  font-size: 1.5rem;
  line-height: 1;
  opacity: 1;
  padding: .15rem .3rem 0;
  position: fixed;
  right: 0;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease-in-out;
  z-index: 9999;

  &:hover {
    opacity: .7;
    transform: translateY(-.25em);
  }

  svg.icon {
    color: var(--wh-color);
    fill: var(--wh-color);
    height: 1.5rem;
    margin: 0;
    position: relative;
    top: .15rem;
    width: 1.5rem;
  }
}
