{% set absolutePageUrl = page.url | url | absoluteUrl(site.url) %}
{% set pageTitle = title + ' | ' + site.name %}
{% set jsonldType = jsonldType %}
{% if metaTitle %}{% set pageTitle = metaTitle %}{% endif %}
{% set metaImage = meta_image if meta_image else site.metaImage %}
{% set eleventyVersion = pkg.dependencies['@11ty/eleventy'] | replace("^", "") %}
{% if permalink == "/" %}
  {% set canonicalUrl = site.url %}
{% else %}
  {% set canonicalUrl = site.url + page.url %}
{% endif %}
{# General #}
<title>{{ pageTitle | escape }}</title>
<meta name="description" content="{{ description or excerpt or site.description | truncate(160) }}" />
<meta name="keywords" content="{{ keywords }}" />
<meta name="author" content="{{ site.authorName }}" />
{% if indexable == "no-index" %}
<meta name="robots" content="no-index, no-index" />
{% else %}
<meta name="robots" content="index, follow" />
{% endif %}
{% if indexable == "no-index" %}
<meta name="googlebot" content="no-index, no-index" />
{% else %}
<meta name="googlebot" content="index, follow" />
{% endif %}
<meta name="generator" content="Eleventy v{{ eleventyVersion }}" />
<link rel="canonical" href="{{ canonicalUrl | lowercase }}" />
<link rel="shortlink" href="{{ site.url }}" />
<link rel="author" href="{{ site.url }}/humans.txt" />
<meta name="color-scheme" content="light dark" />
<meta name="HandheldFriendly" content="true" />
{# Open Graph #}
<meta property="og:title" content="{{ pageTitle | escape }}" />
<meta property="og:type" content="{{ ogType }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:description" content="{{ description or excerpt or site.description | truncate(160) }}" />
<meta property="og:url" content="{{ canonicalUrl | lowercase }}" />
<meta property="og:locale" content="{{ site.locale }}" />
<meta property="og:image" content="{{ site.url }}{% GenerateSocialImage title %}" />
<meta property="og:image:alt" content="Page image for {{ site.name }}" />
{# Twitter #}
<meta name="twitter:title" content="{{ pageTitle }}" />
<meta name="twitter:card" content="{% if metaImage -%}summary_large_image{% else %}summary{% endif %}" />
<meta name="twitter:site" content="@{{ site.twitterCreator | replace('@', '') }}" />
<meta name="twitter:creator" content="@{{ site.twitterCreator | replace('@', '') }}" />
<meta name="twitter:description" content="{{ description or excerpt or site.description | truncate(160) }}" />
<meta name="twitter:image" content="{{ site.url }}{% GenerateSocialImage title %}" />
<meta name="twitter:image:alt" content="Page image for {{ site.name }}" />
<meta name="twitter:dnt" content="on" />

{%- if jsonldType === 'page' -%}
{# Json-ld #}
<script type="application/ld+json"> {
  "@context": "http://www.schema.org",
  "@type": "LocalBusiness",
  "name": "{{ site.name }}",
  "url":" {{ site.url + page.url }}",
  "logo": "{{ site.url }}/assets/images/om.png",
  "image": "{{ site.url }}{% GenerateSocialImage title %}",
  "description": "{{ description or site.description }}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ site.address }}, {{ site.village }}",
    "addressLocality": "{{ site.city }}",
    "addressRegion": "{{ site.county }}",
    "postalCode": "{{ site.postcode }}",
    "addressCountry": "United Kingdom"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "{{ site.latitude }}",
    "longitude": "{{ site.longitude }}"
  },
  "telephone": "{{ site.intPhone }}",
  "email": "{{ site.email }}",
  "priceRange": "{{ site.priceRange }}",
  "openingHoursSpecification": {
  "@type": "OpeningHoursSpecification",
    "dayOfWeek ":["Monday","Tuesday","Wednesday","Thursday","Friday"],
    "opens":"{{ site.opens }}",
    "closes":"{{ site.closes }}"
  },
  "sameAs": [
    "{{ site.instaSite }}",
    "{{ site.facebookSite }}"
  ]
}
</script>
{% elseif jsonldType === 'product' %}
{# Json-ld #}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Product",
  "name": "{{title}}",
  "image": "{{ site.url }}{{ product.pictureElement | safe | stripimage }}",
  "description":"{{ description or site.description }}",
  "inLanguage": {
  "@type": "Language",
  "name": "{{ site.language }}",
  "alternateName": "{{ site.lang }}"
  },
  "sku": "{{ sku }}",
  "brand": "{{ site.name }}",
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "5",
    "reviewCount": "1"
  },
  "offers": {
    "@type": "Offer",
    "price": "{{price}}",
    "priceCurrency": "GBP",
    "priceValidUntil": "{% addyear %}",
    "itemCondition": "https://schema.org/NewCondition",
    "availability": "https://schema.org/InStock"
  }
}
</script>
{% else %}
{# Json-ld #}
<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "Blogposting",
	"url": "{{ site.url + page.url }}",
	"mainEntityOfPage": {
	"@type": "WebPage",
	"@id": "{{ title }}"
  },
  "inLanguage": {
  "@type": "Language",
  "name": "{{ site.language }}",
  "alternateName": "{{ site.lang }}"
  },
	"author": {
	"@type": "person",
	"name": "{{ site.authorName }}"
  },
	"publisher": {
	"@type": "Organization",
	"name": "{{ site.name }}"
  },
	"headline": "{{ title }}",
	"image": "{{ site.url }}{% GenerateSocialImage title %}",
	"datepublished": "{{ date }}",
	"datemodified": "{{ dateupdated }}"
}
</script>
{%- endif -%}
{# Fonts #}
<link rel="preload" as="font" type="font/woff2" href="assets/fonts/inter-v12-latin-300.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="assets/fonts/italiana-v16-latin-regular.woff2" crossorigin>
{# Favicon #}
<link rel="apple-touch-icon" href={{ '/apple-touch-icon.png' | url }} sizes="180x180" />
<link rel="icon" href={{ '/icon.svg' | url }} type="image/svg+xml" />
<link rel="icon" href={{ '/favicon.ico' | url }} sizes="any" />
<link rel="manifest" href="{{ '/site.webmanifest' | url }}" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="{{ site.themeColor }}" />
{# RSS Feed #}
<link type="application/atom+xml" rel="alternate" href="{{ site.url }}/feed.xml" title="{{ site.title }}">

