<header>
  <div class="hero">
    <div class="hero--image">
      {% image "src/assets/images/nesting-box-on-a-tree.jpg", "bird box mounted on a tree", "none", "1233, 100vw", "eager" %}
    </div>
    <div class="hero--text">
      <a class="header--link" href="/" aria-label="click here to head to the home page">{{ site.name }}</a>
      <p>Quality hand-crafted wooden and metal garden products, made in Norfolk.</p>
      <p>Our Wood range of products are manufactured from pressure treated wood and stainless steel hardware and fixings, to ensure you get many years of pleasure.</p>
      <p>And our steel garden sculptures are made from untreated steel that will mellow with age to have a lovely rusty patina.</p>
      <p>Interested, then you can view our whole range on the <a href="/products/" aria-label="our complete range f products can be viewed on our products page">products</a> page.</p>
    </div>
  </div>
</header>