<header>
  <div class="hero">
    <div class="hero--image">
      {% image "src/assets/images/nesting-box-on-a-tree.jpg", alt="bird box mounted on a tree" %}
    </div>
    <div class="hero--text">
      <a href="/" aria-label="click here to head to the home page">{{ meta.name }}</a>
      <p>Quality hand-crafted wooden products, made in Norfolk.</p>
      <p>Manufactured from pressure treated wood and stainless steel hardware and fixings, to ensure you get many years of pleasure.
      </p>
    </div>
  </div>
</header>