---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ site.title }}</title>
    <subtitle>{{ site.description }}</subtitle>
    <link href="{{ site.url }}/feed.xml" rel="self" type="application/atom+xml" />
    <link href="{{ site.url }}" rel="alternate" type="text/html"/>
    <id>{{ site.url }}</id>
    <author>
        <name>{{ site.authorName }}</name>
        <email>{{ site.email }}</email>
    </author>
    {%- for article in articles | reverse -%}
    <updated>{{ build.timestamp | dateRFC3339 }}</updated>
    {% set absolutePostUrl %}{{ article.url | url | absoluteUrl(site.url) }}{% endset %}
        <entry>
            <title>{{ article.Title }}</title>
            <link href="{{ absolutePostUrl }}"/>
            <updated>{{ article.PublishedDate | dateRFC3339 }}</updated>
            <id>{{ absolutePostUrl }}</id>
            <content type="html"><![CDATA[
                {{ article.Content | toHTML | htmlToAbsoluteUrls(absolutePostUrl) | safe }}
            ]]></content>
        </entry>
    {%- endfor -%}
</feed>