---
layout: base
title: Frequently Asked Questions
permalink: /frequently-asked-questions/
pageTitle: FAQs
description: "We manufacture a range of quality wooden and steel lighting solutions, our products are low energy and sustainable where possible."
ogType: website
jsonldType: page
pageType: faq
keywords: ['Tree Surgery Questions', 'Arboreal Questions', 'Frequently Asked Tree Surgery Questions', 'Frequently Asked Arboreal Questions', 'Are You fully Insured', 'What Will Happen To The Waste']
---

<section class="m--wrapper | faq-container">
  <h1>{{ pageTitle }}</h1>

  <h2>Hopefully we can answer most of your questions here.</h2>

  <details>
    <summary>Are your products handmade?</summary>
    <article>
      <p>Yes, all our products are handmade and so each and every one is slightly different and unique.</p>
    </article>
  </details>

  <details>
    <summary>Will your steel products rust?</summary>
    <article>
      <p>Yes, we don't finish our steel products with any anti rust treatments and so over time they will rust. This rust will be surface rust and so will not affect the integrity and structure of the product.</p>
      <p>We can as a special request manufacture any steel product from clean steel that can be varnished or painted as you require.</p>
    </article>
  </details>

  <details>
    <summary>How do I care for my metal garden art?</summary>
    <article>
      <p>Simply place in the perfect site in your garden and sit back and enjoy for many years. There is no maintenance required.</p>
    </article>
  </details>

  <details>
    <summary>How do I care for my wooden product?</summary>
    <article>
      <p>All our wooden products apart from the bee logs are made from pressure treated wooden and so will take very little maintenance. The bee logs will over time lose their bark, this is all part of the decaying process, it's also advisable to check the hanging eyelet every so often to make sure it is still secure.</p>
    </article>
  </details>

  <details>
    <summary>Where are the products made?</summary>
    <article>
      <p>All of our wooden and metal products are handmade in Norfolk.</p>
    </article>
  </details>

  <details>
    <summary>Do you ship to countries outside of the UK?</summary>
    <article>
      <p>No, unfortunately not. This may be possible in the future but presently we only ship to mainland UK.</p>
    </article>
  </details>

  <details>
    <summary>Can you produce custom products?</summary>
    <article>
      <p>Yes! We welcome custom orders.  Please email us at <a href="mailto:{{ site.email }}" aria-label="email {{ site.name }} at {{ site.email }}">{{ site.email }}</a> with your ideas.</p>
    </article>
  </details>
</section>