---
layout: base
permalink: '/search/'
title: Search Plant Theatres & More
description: "You can now search all of the content from our news articles, products descriptions and pages on our website, entertain yourself by having a good look around."
keywords: ['Search', 'Search Our Website']
pageType: search
---

<section data-pagefind-ignore >
  <h1>{{ title }}</h1>
  <h2 class="visually--hidden">Search to find if we have pages or articles you are interested in.</h2>
  <p class="visually--hidden">Type in a relevant word or phrase and automagically all items that have some relevance to your word or phase on our website will be listed.</p>
  <script src="/pagefind/pagefind-ui.js" type="text/javascript"></script>
  <div id="search" class="search"></div>
  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({
          element: "#search",
          showImages: false,
          translations: {
          placeholder: "Search this website",
          zero_results: "We couldn't find any search results for '[SEARCH_TERM]'"
        }
      });
    });
</script>
</section>