---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ meta.title }}</title>
    <subtitle>{{ meta.description }}</subtitle>
    <link href="{{ meta.url }}/feed.xml" rel="self" type="application/atom+xml" />
    <link href="{{ meta.url }}" rel="alternate" type="text/html"/>
    <id>{{ meta.url }}</id>
    <author>
        <name>{{ meta.authorName }}</name>
        <email>{{ meta.email }}</email>
    </author>
    {%- for article in articles | reverse -%}
    {% set absolutePostUrl %}{{ article.url | url | absoluteUrl(meta.url) }}{% endset %}
        <entry>
            <title>{{ article.Title }}</title>
            <link href="{{ absolutePostUrl }}"/>
            <updated>{{ article.PublishedDate | dateFeed }}</updated>
            <id>{{ absolutePostUrl }}</id>
            <content type="html"><![CDATA[
                {{ article.Content | toHTML | htmlToAbsoluteUrls(absolutePostUrl) | safe }}
            ]]></content>
        </entry>
    {%- endfor -%}
</feed>