---
layout: base
title: Quality Wooden & Steel Products
description: "We manufacture a range of quality wooden and steel garden related products including plant theatres or display stands, bee houses, insect houses and sculptures."
ogType: website
jsonldType: page
pageType: home
keywords: ['Wooden Plant Theatres', 'Garden Sculptures', 'Steel Garden Sculptures', 'Rusty Steel Garden Sculptures', 'Rusty Steel Garden Products', 'Wooden Plant Displays', 'Bird Boxes', 'Bee Logs', 'Insect Hotels', 'Norfolk', 'Handmade', 'Bespoke Garden Sculptures']
---

<section class="w--wrapper">
  <h1>{{ title }}</h1>

  <p>We manufacture a range of quality wooden garden-related products from our workshop near Norwich, in Norfolk.</p>

  <p>Our main product range is plant theatres or display stands, bee houses, insect houses and bird boxes. To view the full range of products, please go to the <a href="/products/" aria-label="product page">products</a> page.</p>

  <p>Our products are all made from thick pressure-treated wood with a couple of exceptions, and all the fixings used are stainless steel, ensuring you many years of pleasure from our products.</p>

  <p>We sell here, through the website and at various maker and garden events around Norfolk. You can find details about where to catch up
    with us on the <a aria-label="head to the events page to see where you can catch up with us in person" href="/events/">events</a> page.</p>

    <p>If you have any questions about our products please feel free to call, email or contact us through the <a href="/contact-us/" aria-label="contact page">contact</a> page of the website.</p>

  <div class="full--width">
    <h2>Featured Products</h2>
    <div class="auto--grid--fit">{%- for product in featured -%}
      <div class="block | flow">
        <a aria-label="follow to find out more details about a {{ product.Title }}" href="/products/{{ product.Title | slugify }}/">
          {{ product.pictureElement | safe }}</a>
          <p class="is--heading">{{product.Title}}</p>
          <p>{{ product.Description }}</p>
      </div>{%- endfor -%}
    </div>
  </div>
</section>