.cat--list {
  display: flex;
  flex-flow: row wrap;

  li {
    background-color: var(--pri-color-vlgt);
    border-radius: var(--bor-rad);
    color: var(--f-color);
    margin-bottom: .5rem;
    margin-right: .5rem;
    padding: .2rem .5rem;
  }
}

@include respond-to(sm) {
  .post--list {
    .block {
      .is--heading {
        margin-top: -1rem;
      }
    }

    h2 {
      font-size: var(--heading-h6);
    }

    picture img {
      margin-bottom: 1rem;
    }
  }

  .post--block {
    picture img {
      margin-bottom: 1rem;
    }
  }
}

@include respond-to(sm) {
  .post--list {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}