.cat--list {
  display: flex;
  flex-flow: row wrap;

  li {
    background-color: var(--pri-color-vlgt);
    border-radius: var(--bor-rad);
    color: var(--f-color);
    margin-bottom: .5rem;
    margin-right: .5rem;
    padding: .2rem .5rem;
  }
}

@include respond-to(sm) {
  .post--list {
    .block {
      display: grid;
      gap: 1rem;
      grid-template-columns: 250px auto;

      .is--heading {
        margin-top: -1rem;
      }
    }
  }
}