<!DOCTYPE html>
<html lang="{{ site.lang }}" dir="{{ site.dir }}">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% include "stylesheets.njk" %}
  {% include "head-meta.njk" %}
  {# Analytics #}
  <script defer data-domain="planttheatresandmore.co.uk" src="https://plausible.io/js/script.js"></script>
</head>

<body id="page-top" role="application">
  {% include "cookie-banner.njk" %}
  {% svgsprite %}
  <a class="skip-link screen-reader-text" aria-label="Skip to the main page content" href="#main">Skip to content</a>
  {% include "partials/theme-switcher.njk" %}
  {% include "navigation.njk" %}
  {% include "header.njk" %}

  <main id="main" data-pagefind-body>
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}

<script type="module" src="{{ '/assets/scripts/main.js' | url | cacheBust }}"></script>
<script src="{{ '/assets/scripts/vendor/cookie-notification.js' | url | cacheBust }}"></script>
<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/serviceworker.js')
  }
</script>
<script>
  GdprConsent.attachBanner(document.getElementById('cookie-banner'), {
    cookieName: 'test_gdpr',
    categories: {
      analytics: function () {
        console.info('Dropped analytics cookies')
      },
      necessary: function () {
        console.info('Dropped necessary cookies')
      }
    },
    choices: {
      necessary: {
        label: 'Necessary Things',
        description: 'Super important',
        value: true
      },
      analytics: false
    }
  })
</script>
</body>
</html>