---
layout: productbase
pageType: products
---

<section class="product--block">
  <a class="button" aria-label="Back to all our products" href="/products/">{% svg "angle-left" %}All Our Products</a>
  <h1>{{product.Title}}</h1>
  <div class="product--detail--block">
    <div id="showcase" class="img--container">
      {{ product.pictureElement | safe }}
    <div class="product--image | thumbnails" id="divId" onclick="changeImageOnClick(event)">
      {# {%- if (product.imageTwo[0].url) -%}
      <img src="{{ product.imageTwo[0].url }}" alt="{{ product.imageTwoAlt }}" >
      {%- else -%}{%- endif -%}
      {%- if (product.imageThree[0].url) -%}
      <img src="{{ product.imageThree[0].url }}" alt="{{ product.imageThreeAlt }}" >
      {%- else -%}{%- endif -%}
      {%- if (imageFour[0].url) -%}
      <img src="{{ product.imageFour[0].url }}" alt="{{ product.imageFourAlt }}" >
      {%- else -%}{%- endif -%}
      {%- if (product.imageFive[0].url) -%}
      <img src="{{ product.imageFive[0].url }}" alt="{{ product.imageFourAlt }}" >
      {%- else -%}{%- endif -%}
      {%- if (product.imageSix[0].url) -%}
      <img src="{{ product.imageSix[0].url }}" alt="{{ product.imageFourAlt }}" >
      {%- else -%}{%- endif -%} #}
    </div>
  </div>
    <div class="product--details">
      <p class="is--price">{% svg "gbp" %}{{ product.price }}</p>
    </div>
    {{ product.content | toHTML | safe }}
    {% include "partials/postage.njk" %}
  </div>

  <div class="product--information--list">
    <h2 class="is--heading">{{title}} - Product Information</h2>
    <p>Height: <span>{{ product.height }}cm</span></p>
    <p>Width: <span>{{ product.width }}cm</span></p>
    <p>Depth: <span>{{ product.depth }}cm</span></p>
    <p>Weight: <span>{{ product.weight }}kg</span></p>
  </div>
  <div class="disclaimer--block">
  <h3 class="is--heading">Disclaimer</h3>
  {%- if 'steel' ===  product.group  -%}
    {% include "partials/disclaimer.njk" %}
  {%- else -%}
    {% include "partials/disclaimer-wood.njk" %}
  {%- endif -%}
  </div>
</section>
