<ul>
  <li class="is--bold">{{ meta.name }}</li>
  <li>{{ meta.address }}</li>
  <li>{{ meta.village }}</li>
  <li>{{ meta.city }}</li>
  <li>{{ meta.county }}</li>
  <li>{{ meta.postcode }}</li>
  <li><span class="primary--color">///</span> <a target="_blank" rel="noopener" href="https://w3w.co/{{ meta.whatThreewords }}" aria-label="Find the address with what3words">{{ meta.whatThreewords }}</a></li>
</ul>