<p>All our metal products are manufactured from mild steel and are untreated so they will oxidise/rust over time to give a nice rusty patina unless treated to stop this.</p>
<p>Our products are all hand-made and so there will be slight variations in sizing of the finished products.</p>