<p class="is--bold">Wooden Products</p>
<p>All our wooden products are manufactured from pressure-treated decking or fence posts so we accept no responsibility for knots, cracks and bowing in the finished product.</p>
<p>Our products are all hand-made and so there will be slight variations in sizing of the finished products.</p>

<p class="is--bold">Metal Products</p>
<p>All our metal products are manufactured from mild steel and are untreated so they will oxidise/rust over time to give a nice rusty patina unless treated to stop this.</p>
<p>Our products are all hand-made and so there will be slight variations in sizing of the finished products.</p>