<ul>
  <li><a href="mailto:{{ meta.email }}" aria-label="email {{ meta.name }} at {{ meta.email }}">{% svg "envelope" %}{{ meta.email }}</a></li>
  <li><a href="tel:{{ meta.mobile }}" aria-label="call {{ meta.name }} on {{ meta.mobile }}">{% svg "mobile" %}{{ meta.mobileDisplay }}</a></li>
</ul>