<ul>
  <li><a href="mailto:{{ site.email }}" aria-label="email {{ site.name }} at {{ site.email }}">{% svg "envelope" %}{{ site.email }}</a></li>
  <li><a href="tel:{{ site.mobile }}" aria-label="call {{ site.name }} on {{ site.mobile }}">{% svg "mobile" %}{{ site.mobileDisplay }}</a></li>
</ul>