<p class="is--heading">Postage / Delivery Charges</p>

<p>If you wish to purchase one of products, please contact us via the contact page and we will be able to advise on delivery charges.</p>
<p>These charges will depend on the weight and size of the order, with some larger items only being available for delivery by pallet.</p>