<label class="theme--switcher" for="themeswitch">
    <span class="background"></span>
    <input aria-label="dark light mode toggle" role="switch" type="checkbox" id="themeswitch">
    <span class="switch">
        <img class="sun" src="/assets/icons/sun.svg" alt="sun icon for light mode">
        <img class="moon" src="/assets/icons/moon.svg" alt="moon icon for dark mode">
    </span>
</label>