<div class="theme--switcher">
  <label for="themeswitch">
    <input aria-label="dark-light mode toggle" role="switch" type="checkbox" id="themeswitch">
    <span class="switch">
        <img class="sun" src="/assets/icons/sun.svg" height="20" width="20" alt="sun icon for light mode" loading="eager">
        <img class="moon" src="/assets/icons/moon.svg" height="20" width="20" alt="moon icon for dark mode" loading="eager">
    </span>
  </label>
</div>